<div class="wrapper">
  <div class="title">
    <h2> Liste d'utilisateur </h2>
  </div>
  <div class="files">
    <div *ngFor="let user of users ">
      <mat-card>
        <mat-card-title>
          <mat-card-content>username : {{ user.username }} </mat-card-content>
          <mat-card-content>email : {{ user.email }}  </mat-card-content>
          <mat-card-subtitle>id : {{user.id}}</mat-card-subtitle>

        </mat-card-title>
          <br>
          <div class="editable_fields">
            <p class="field_name">Role</p>
            <input matInput type="text" [(ngModel)]="user.role">
            <button *ngIf="role" (click)="role=''">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="editable_fields">
            <p class="field_name">Level</p>
            <input matInput type="number" [(ngModel)]="user.level">
            <button *ngIf="level" (click)="level=0">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        <mat-card-actions>

          <button
            mat-raised-button
            (click)="actionOnUser()"
            style="margin-right: 8px"
          >
            Update
          </button>
          <button mat-stroked-button (click)="removeUser(user.id)">
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
