mat-card {
  height: calc(100% - 32px);
  align-items: center;
  background-color: var(--color-peace);
  color: var(--color-prestige-blue);
}

mat-card-content {
  font-size: 16px;
}

mat-card-content > b {
  font-size: 18px;
}
.editable_fields{
  display: inline-block;
  margin-right: 15px;
}
.field_name{
  display: inline-block;
  margin-right: 15px;
}
mat-card-actions{
  display: inline-block;
  margin-left: 15px;
}

mat-card-title{
  display: inline-block;
}
