.events {
  max-height: 50%;
  overflow: scroll;
}


.food-full {
  color: lightgreen;
}

.food-hungry {
  color: crimson;
}

mat-card{
  background-color: lightgray;
  margin-bottom: 10px;
}

.top-state {
  display: flex;
  justify-content: space-between;
}

.action-list {
  max-height: 150px;
  overflow: scroll;
  scroll-behavior: auto;
}
