<mat-card class="constraint-item-card">
  <mat-card-content>
    <mat-spinner mode="indeterminate" *ngIf="loading" style="align-self: center"></mat-spinner>
    <div class="constraint-item-row" *ngIf="!loading">
      <span>Ajouter une contrainte</span>
      <mat-form-field  appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput [formControl]="constraintNameFormControl" [(ngModel)]="name">
        <mat-error *ngIf="(constraintNameFormControl.hasError('max') || constraintNameFormControl.hasError('min')) && !constraintNameFormControl.hasError('required')">
          Le nom doit faire entre 4 et 20 caractères
        </mat-error>
        <mat-error *ngIf="constraintNameFormControl.hasError('required')">
          Le nom de contrainte est <strong>requis</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label>Warning</mat-label>
        <input type="text" matInput [formControl]="constraintWarningFormControl" [(ngModel)]="warning">
        <mat-error *ngIf="(constraintWarningFormControl.hasError('max') || constraintWarningFormControl.hasError('min')) && !constraintWarningFormControl.hasError('required')">
          Le warning doit faire entre 10 et 100 caractères
        </mat-error>
        <mat-error *ngIf="constraintWarningFormControl.hasError('required')">
          Le warning de contrainte est <strong>requis</strong>
        </mat-error>
      </mat-form-field>
      <span><button mat-button (click)="onSaveClick()">Créer</button> </span>
    </div>
  </mat-card-content>
</mat-card>

