.row {
  display: flex;
}

.editor {
  flex: 75%;
}

mat-card {
  background-color: lightgray;
  margin-bottom: 20px;
}
.map {
  flex: 25%;
}

.section-header {
  display: flex;
  justify-content: space-evenly;
}

.waiter {
  display: flex;
  flex-direction: column;
}

