<div class="section-header">

  <button mat-button (click)="onActiveConstraintsOpen()"><i class="fab fa-korvue"></i> Lib Kotlin</button>
  <h1> Jeu de survie </h1>
  <button mat-button (click)="onRulesOpen()"><i class="fas fa-book-open"></i> Règles </button>
  <button mat-button (click)="onKotlinLibOpen()"><i class="fab fa-korvue"></i> Lib Kotlin</button>
</div>

<div class="container" *ngIf="(user$ | async)">
  <div class="row">
    <div class="editor">
      <app-game-editor [(code)]="code"></app-game-editor>

      <app-game-actions (executeCodeClicked)="executeCode($event)"></app-game-actions>
    </div>
    <div class="map">

      <app-game-state [reset]="reset" [gameEvents]="gameEvents" [world]="lastWorld" #game></app-game-state>
    </div>
  </div>

</div>
