<mat-card class="regex-item-card">
  <mat-card-content>
    <mat-spinner mode="indeterminate" *ngIf="loading" style="align-self: center"></mat-spinner>
    <div class="regex-item-row" *ngIf="!loading">
      <span>Ajouter une regex</span>
      <mat-form-field  appearance="fill">
        <mat-label>Pattern</mat-label>
        <input type="text" matInput [formControl]="regexPatternFormControl" [(ngModel)]="pattern">
        <mat-error *ngIf="regexPatternFormControl.hasError('required')">
          Le pattern de la regex est <strong>requis</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label>Langage</mat-label>
        <mat-select [(value)]="languageId">
          <mat-option *ngFor="let language of languagesList" value="{{language.id}}">{{language.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span><button mat-button (click)="onSaveClick()">Créer</button> </span>
    </div>
  </mat-card-content>
</mat-card>
