<h1 mat-dialog-title>Règle(s) non respecté(e)s !</h1>
<div mat-dialog-content>
  <div *ngIf="!data.codeResponse.rulesSuccess">
    Les contraintes suivantes n'ont pas été respectées dans votre code :
    <ul>
      <li *ngFor="let constraint of data.codeResponse.failedConstraints">
        <span><b>{{constraint.name}} : </b> {{constraint.warning}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="!data.codeResponse.similaritySuccess">
    <span>Votre code est trop similaire au précédent ! </span>
    <span>Essayez de changer d'algorithme </span>
    <mat-card>
      <mat-card-title>Code précédent</mat-card-title>
      <div>
        {{'fun decide(state: MobState): MobAction {'}}
      </div>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;{{data.codeResponse.previousCode}}</span>
      <div>
        {{'\}'}}
      </div>
    </mat-card>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Retour</button>
</mat-dialog-actions>
