<div class="banner"><h1 id="title">Last Beast Game</h1></div>

<mat-card class="home-card">
  <mat-card-title>Codez ! </mat-card-title>
  <mat-card-subtitle>Essayez de créer l'IA permettant à votre créature de survivre </mat-card-subtitle>
  <mat-card-content>Observez en temps réel la progression de votre créature obéissant à votre IA et à son environnement </mat-card-content>
</mat-card>

<mat-card class="home-card">
  <mat-card-title>Progressez ! </mat-card-title>
  <mat-card-subtitle>Recommencez avec plus d'options</mat-card-subtitle>
  <mat-card-content>Chaque partie vous permet de débloquer plus de complexité dans votre code</mat-card-content>
  <mat-card-actions>
    <a class="btn btn-primary btn-lg" role="button"  routerLink="/login" routerLinkActive="active" id="homeLink">Je m'inscris</a>
    <!--    <a routerLink="/login" routerLinkActive="active" class="nav-link"  id="homeLink">Je m'inscris</a>-->

  </mat-card-actions>
</mat-card>
